body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #E7F0DC;
    width: 100%;
}

#header {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #597445;
    color: white;
    padding: 40px 80px;
    height: 130px;
    box-shadow: 100px;

    #company-logo {
        height: 120px;
        width: 120px;
        border-radius: 25%;
        fill: white;
    }

    .header-text {
        padding-left: 30px;
        color: white;
    }

    .title {
        margin: 0;
        font-size: 3rem;
        font-weight: bold;
    }

    .description {
        padding: 5px 35px;
    }
}

#main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 20px 10%;

    .blog {
        width: 90%;
        margin: 20px;
        border-color: #597445;
        border-width: 3px;
        border-radius: 10px;
        border-style: solid;
        background-color: white;
    }

    .blog-title {
        background-color: #597445;
        color: white;
        font-size: 1.8rem;
        padding: 5px 80px;
    }

    .date {
        font-size: 0.9rem;
        color: #ffffffee;
    }

    .blog-content {
        font-size: 1rem;
        background-color: #e7f0dc69;
        padding: 20px 80px;
    }

    ol {
        margin: 0px;
        padding: 0px 20px;
    }

    .blog-author {
        color: #ffffffee;
        background-color: #597445;
        padding: 20px 80px;
        font-style: italic;

        p {
            margin: 0px;
        }
    }
}

#footer {
    background-color: #597445;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
    bottom: 0px;
    box-shadow: 100px;
}
